@import "setup";
@import "utils";
@import "typography";

.background {
    height: 100vh;
    background: repeating-linear-gradient(
        45deg,
        mediumseagreen,
        mediumseagreen 10px,
        seagreen 10px,
        seagreen 20px
    );
}

.header {
    height: 12%;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    &__title {
        color: white;
        text-align: center;     
    }
}

.main {
    height: 88%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    &__body {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    &__sketchpad {
        background-color: white;
        width: 500px;
        height: 500px;
        margin-right: 25px;
        border-radius: 5px;
        overflow: hidden;
    }
}

.toolbar {
    width: 300px;
    background-color: rgb(215, 255, 215);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__button {
        width: 100%;
        height: 50px;
        border: 0;
        background-color: lightgreen;
        color: white;
        font-size: 1.8rem;
        text-transform: uppercase;
        position: relative;
		top: 0;
		border-radius: 5px;
		box-shadow: 0px 10px 0px mediumseagreen;
        transition: all 0.25s;
        margin-bottom: 20px;
        &:active {
            top: 5px;
            background: mediumspringgreen;
            box-shadow: 0px 5px 0px seagreen;
        }
        &:last-child {
            margin-bottom: 10px;
        }
        &--half {
            width: 50%;
            height: 50px;
            border: 0;
            background-color: lightgreen;
            color: white;
            font-size: 1.8rem;
            text-transform: uppercase;
            margin-right: 10px;
            position: relative;
			top: 0;
			border-radius: 5px;
			box-shadow: 0px 10px 0px mediumseagreen;
            transition: all 0.25s;
            &:active {
                top: 5px;
                background: mediumspringgreen;
                box-shadow: 0px 5px 0px seagreen;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__buttons {
        display: flex;
        flex-flow: row nowrap;
    }
    &__row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        &:first-child {
            margin-bottom: 15px;
        }
    }
    &__color {
        width: 45px;
        height: 45px;
        border-radius: 5px;
        cursor: pointer;
        &--red {
            background-color: red;
        }
        &--blue {
            background-color: blue;
        }
        &--yellow {
            background-color: gold;
        }
        &--orange {
            background-color: darkorange;
        }
        &--purple {
            background-color: rebeccapurple;
        }
        &--green {
            background-color: limegreen;
        }
        &--pink {
            background-color: hotpink;
        }
        &--grey {
            background-color: lightgrey;
        }
        &--black {
            background-color: black;
        }
        &--white {
            background-color: white;
        }
    }
}

.slider {
    margin-top: 5px;
    &__title {
        font-size: 1.4rem;
        color: mediumseagreen;
        text-transform: uppercase;
    }
    &__input {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 25px;
        background: lightgreen;
        outline: none;
        margin-top: 5px;
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: mediumseagreen;
            outline: none;
            cursor: pointer;
        }
        &::-moz-range-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: mediumseagreen;
            outline: none;
            cursor: pointer;
        }
    }
}

.projects {
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: -250px;
    left: 0px;
    background: lightgreen;
    transition: all 0.5s ease;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    overflow: scroll;
    &__close-button {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.6rem;
        color: seagreen;
        cursor: pointer;
    }
    &__preview {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &--show {
        bottom: 0;
    }
}

.sketch {
    background: white;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 15px;
    border-radius: 5px;
    overflow: hidden;
    &__add-button {
        position: absolute;
        top: 10px;
        right: 35px;
        font-size: 1.6rem;
        cursor: pointer;
    }
    &__close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.6rem;
        cursor: pointer;
    }
}


// MEDIA QUERY

@media (max-width: 1080px) {
    .main {
        &__sketchpad {
            background-color: white;
            width: 400px;
            height: 400px;
        }
    }   
    .toolbar {
        width: 200px;
        &__button {
            height: 35px;
            font-size: 1.4rem;
            &--half {
                height: 35px;
                font-size: 1.4rem;
            }
        }
        &__color {
            width: 25px;
            height: 25px;
        }
    }
    .slider {
        &__title {
            font-size: 1.2rem;
        }
    }
}


@media (max-width: 768px) {
    .header {
        height: 7.5%;
        &__title {
            font-size: 2.4rem;
        }
    }
    .main {
        height: 92.5%;
        &__body {
            flex-flow: column nowrap;
            align-items: center;
        }
        &__sketchpad {
            background-color: white;
            width: 300px;
            height: 300px;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
    .toolbar {
        width: 300px;
        &__utils {
            display: flex;
            margin-bottom: 10px;
        }
        &__button {
            width: 25%;
            height: 30px;
            font-size: 1.2rem;
            box-shadow: none;
            margin-bottom: 0;
            margin-right: 10px;
            &:active {
                top: 0;
                background: none;
                box-shadow: none;
            }
            &:first-child {
                margin-right: 10px;
            }
            &:last-child {
                margin-bottom: 0;
                margin-right: 0;
                width: 100%;
            }
            &--half {
                width: 100%;
                height: 30px;
                font-size: 1.2rem;
                box-shadow: none;
                margin-right: 0;
                &:active {
                    top: 0;
                    background: none;
                    box-shadow: none;
                }
                &:first-child {
                    margin-right: 10px;
                }
            }
        }
        &__buttons {
            width: 50%;
        }
        &__row {
            flex: 1;
            &:first-child {
                margin-bottom: 0;
                margin-right: 10px;
            }
        }
        &__colors {
            display: flex;
            margin-bottom: 10px;
        }
        &__color {
            width: 20px;
            height: 20px;
        }
    }
    .slider {
        margin-top: 0;
        margin-bottom: 10px;
        &__title {
            display: none;
        }
        &__input {
            height: 15px;
            margin-top: 0;
            &::-webkit-slider-thumb {
                width: 15px;
                height: 15px;
            }
            &::-moz-range-thumb {
                width: 15px;
                height: 15px;
            }
        }
    }
}

